.header {
    background:black;
    color:white;
    width:100%;
    padding: 5px 0;
    font-size:30px;
    text-align:center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://dhp.dreeshomes.com/cms/images/EYrud-a6KJ-Ayt63GXIVxF?scale=xxl");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
font-family: 'Montserrat', sans-serif;

  }
  @keyframes a {
      0% {
          opacity:0;
      }
      99% {
          opacity:0;
      }
      100% {
          opacity:1
      }
  }
  @keyframes c {
      0% {
          opacity:1;
      }
      99% {
          opacity:1;
      }
      100% {
          opacity:0
      }
  }
  @keyframes b {
      0% {
          opacity:1;
          border-radius:100%;
          transform:scale(1);
      }
    
      100% {
          opacity:0;
                    transform:scale(100);
                              border-radius:100%;
                              display:none;


      }
  }
  .intro {
        animation-name:b;
animation-duration:.5s;
animation-fill-mode:forwards;
position:fixed;
top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:10px;
  height:10px;
  background:#eee;
  z-index:99999;
  z-index:-9999999;
  animation-delay:1s;
  }
  .content {
    margin:0;
    animation-name:a;
animation-duration:1s;
animation-fill-mode:forwards;
  }
  .introa {
    margin:0;
    animation-name:c;
animation-duration:1s;
animation-fill-mode:forwards;
z-index:99999999999999999;
color:black;
position:fixed;
top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:30px;
  font-family:Arial
  }
  h1 {
    margin:0;
    padding: 0;
  }
  .header a {
    color:white;
  }
  .container {
    max-width:100%;
    margin:auto;
  }
  .btn {
    text-decoration: none;
    padding:10px;
    background:#6200EE;
    color:white;
    margin:0;
    font-size: 10px;
  }
  body {
      margin:0;
  }
  .btn:hover {
    text-decoration: none;
    padding:10px;
    background:#6200EE;
    color:white;
    z-index:999999999999999999999999999999999999;
  }
  .continually {
position:fixed;
font-family: 'Quicksand' !important;
cursor:pointer;
text-align:center;
margin:10px;
color:white !important;
z-index:9999999999999999999999999999999999999999999999999999999999;
padding:20px;
border-radius:20px 0 20px 0px;
}
.continually:hover {
background-color:#5d6d87;
}

  button{
  font-family: 'Roboto';
  font-size: 24px;
  padding: 1em 2em;
  margin: 2px;
  border: 0;
  outline: 0;
  color: white;
  background-color: #2196f3;
  text-transform: uppercase;
  border-radius: 0.15em;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3 );
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button .ripple{
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  transform: scale(0);
  animation: ripple 0.6s linear;
}

@keyframes ripple{
  to{
    transform: scale(2.5);
    opacity: 0;
  }
}
