@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg)
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg)
    }
}

@-webkit-keyframes line {
    0% {
        stroke-dasharray: 2,85.964;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    50% {
        stroke-dasharray: 65.973,21.9911;
        stroke-dashoffset: 0
    }

    to {
        stroke-dasharray: 2,85.964;
        stroke-dashoffset: -65.973;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }
}

@keyframes line {
    0% {
        stroke-dasharray: 2,85.964;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    50% {
        stroke-dasharray: 65.973,21.9911;
        stroke-dashoffset: 0
    }

    to {
        stroke-dasharray: 2,85.964;
        stroke-dashoffset: -65.973;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }
}

@keyframes starScale {
    0%,to {
        transform: scale(1)
    }

    33% {
        transform: scale(.8)
    }

    66% {
        transform: scale(1.2)
    }
}

@keyframes toast {
    0% {
        transform: translateY(100px);
        opacity: 0
    }
}

@keyframes accountDropdown {
    0% {
        transform: scale(.9);
        opacity: 0
    }
}

@keyframes accountDropdownHide {
    0% {
        transform: scale(1);
        opacity: 1
    }

    to {
        transform: scale(.9);
        opacity: 0
    }
}

@keyframes searchBar {
    0% {
        transform: scale(.9);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

@keyframes searchBarContent {
    0% {
        transform: scaleY(.2);
        opacity: .5
    }

    10% {
        transform: scaleY(1);
        opacity: 1
    }
}

#noteView {
    min-height: 100vh
}

.sidenav-active:not(._darkTheme .sidenav-active) .waves-ripple,.waves-effect:not(.waves-light,._darkTheme .waves-effect) .waves-ripple {
    background: rgba(0,0,0,.1)!important
}

._darkTheme .sidenav-active .waves-ripple {
    background: rgba(255,255,255,.05)!important
}

#app {
    max-width: 100%;
    word-wrap: break-word;
    clear: both
}

._darkTheme .toast {
    color: #000;
    background: #fff
}

.material-sidenav\:right {
    position: fixed;
    width: 300px;
    right: 0;
    top: 0;
    margin: 0;
    height: 100vh;
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%)
}

* {
    text-transform: none!important;
    box-sizing: border-box;
    outline: 0;
    -webkit-tap-highlight-color: transparent
}

._darkTheme td,h1,h2,h3,h4,input,p span {
    color: var(--font-color)!important
}

.dropdown-content a,label {
    color: var(--sidenavf-color)
}

#fab {
    width: 150px;
    overflow: hidden
}

.active_i {
    font-size: 1.6rem;
    margin-left: -11px
}

#fab i,#fab span {
    transition: all .2s;
    line-height: 55px!important
}

.collection {
    border: 0!important
}

.collection-item {
    color: var(--font-color)!important;
    background: 0 0!important
}

.card {
    width: 100%
}

.loader {
    margin-top: 40vh
}

.loader #spinner {
    stroke: var(--regular);
    stroke-width: 3px;
    vertical-align: middle;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: line 1.6s cubic-bezier(.4,0,.2,1) infinite,rotate 1.6s linear infinite;
    animation: line 1.6s cubic-bezier(.4,0,.2,1) infinite,rotate 1.6s linear infinite
}

.sidenav a:not(.sidenav-active),.sidenav a:not(.sidenav-active) i {
    color: var(--sidenavf-color)
}

.sidenav-active:not(._darkTheme .sidenav-active) {
    background: var(--sidenavbg-color);
    color: var(--dark)
}

.sidenav-active:not(._darkTheme .sidenav-active) * {
    color: var(--dark)
}

._darkTheme .sidenav-active {
    background: rgba(255,255,255,.2);
    color: var(--navbar-color)
}

.sidenav-active * {
    color: var(--navbar-color)
}

._darkTheme nav.blue-grey,.btn-flat {
    background: 0 0!important
}

.modal {
    background: #fff
}

#addItem .card:not(:focus-within) {
    box-shadow: none!important
}

#bmmodal nav,#noteView nav,nav:not(.modal nav) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    overflow: hidden
}

body {
    padding-left: 300px;
    margin-top: 75px
}

#searchResults .container {
    width: 100%
}

._darkTheme .waves-ripple,.waves-light .waves-ripple {
    background: rgba(255,255,255,.1)!important
}

nav a,nav a i {
    background: 0 0;
    line-height: 65px!important
}

nav .waves-ripple {
    transition: all .5s!important
}

.sidenav .links a,.sidenav .links i {
    transition: background .2s;
    line-height: 50px!important;
    height: auto!important
}

.material-tooltip {
    background: rgba(35,47,52,.7);
    border-radius: 4px;
    overflow: hidden
}

@media only screen and (max-width:992px) {
    body {
        margin-top: 64px;
        padding-left: 0
    }

    nav a,nav a i {
        line-height: 57px!important
    }

    nav .material-icons-round {
        display: block;
        font-size: 24px;
        height: 56px;
        line-height: 56px
    }

    #item_sidenav nav a,#item_sidenav nav i {
        line-height: 55px!important
    }

    .modal.bottom-sheet {
        width: 100%!important
    }
}

.waves-ripple {
    transition: transform .7s cubic-bezier(.4,0,.2,1),opacity .15s!important
}

#searchResults {
    max-height: 100vh!important;
    height: 100vh!important;
    min-height: 100vh!important;
    position: fixed!important;
    top: 0!important;
    left: auto!important;
    right: 0!important;
    width: 500px!important
}

._darkSidenav #slide-out,._darkTheme #searchBar,._darkTheme .nav-wrapper input {
    background: #303030!important
}

._darkSidenav #slide-out a,._darkSidenav #slide-out a i {
    color: #fff!important
}

._darkTheme {
    --bg-color: #212121!important;
    --navbar-color: #303030!important;
    --font-color: #fff!important
}

._darkTheme .white {
    background: #212121!important
}

._darkTheme .card {
    background: rgba(255,255,255,.02)!important;
    color: var(--font-color)!important
}

.modal:not(.bottom-sheet,#searchResults) {
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%,-50%) scale(1)!important
}

#app td:not(.datepicker-modal td) {
    max-width: 30vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px!important;
    padding-right: 10px!important;
    border-radius: 0!important
}

._darkTheme .collection-item,._darkTheme .sidenav .divider,._darkTheme tr {
    border-color: rgba(255,255,255,.2)!important
}

._darkTheme body {
    background: #212121!important;
    color: #fff
}

.modal-overlay {
    z-index: 99999999!important
}

.modal {
    z-index: 99999999999!important
}

._darkTheme .chip {
    background: rgba(200,200,200,.3)!important;
    color: #fff!important
}

._darkTheme .modal,._darkTheme .modal label {
    background: #303030!important
}

._darkTheme .sidenav {
    background: var(--bg-color)!important
}

._darkTheme #edit_sidenav,._darkTheme #item_sidenav,._darkTheme .modal,._darkTheme .sidenav a,._darkTheme .sidenav a i {
    color: var(--font-color)!important
}

._darkTheme #item_sidenav,._darkTheme .modal div {
    background: #303030
}

._darkTheme #edit_sidenav,._darkTheme #item_sidenav nav {
    background: #404040!important
}

._darkTheme #edit_sidenav nav,._darkTheme #item_sidenav .collection {
    background: #505050!important
}

#searchBar {
    position: fixed;
    top: 0;
    left: 300px;
    z-index: 99999999;
    width: 100%!important;
    background: #fff
}

#searchBar i:not(.close) {
    line-height: 100%!important;
    margin-left: 20px;
    margin-top: 10px
}

.section-search input.autocomplete {
    color: #000
}

.autocomplete-content li>a,.autocomplete-content li>span,.input-field .prefix.active {
    color: #000!important
}

.autocomplete-content {
    position: fixed;
    margin-top: -8px;
    top: auto!important;
    height: auto!important
}

.autocomplete-content li {
    color: var(--font-color)
}

.autocomplete-content li .highlight {
    color: #283593!important;
    background: rgba(40,53,147,.1);
    border: 1px solid rgba(40,53,147,.2)
}

.search1 {
    display: none!important
}

#toast-container {
    top: auto!important;
    z-index: 999999999!important;
    right: auto!important;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

@media only screen and (max-width:600px) {
    #toast-container {
        transform: none;
        top: auto!important;
        right: auto!important;
        bottom: 0;
        left: 0;
        width: calc(100% - 30px)!important
    }
}

@media only screen and (min-width:992px) {
    .toast {
        min-width: 400px;
        margin-bottom: 0!important;
        border-radius: 0!important
    }
}

.sync_tr {
    background: rgba(0,121,107,.1)!important
}

#feedbackBeta {
    max-height: auto!important;
    min-height: auto!important;
    border-radius: 10px
}

@media only screen and (max-width:992px) {
    #searchBar i {
        margin-top: 5px
    }

    .searchClose {
        display: none
    }

    .search1 {
        display: unset!important;
        margin-top: 4px!important
    }

    #searchBar :not(li *) {
        line-height: 50px!important
    }

    #searchSettings {
        width: 100%!important;
        left: 0!important
    }

    #searchResults {
        width: 100vw!important
    }
}

.toast {
    width: calc(100% - 20px);
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    animation: toast .2s forwards;
    transform-origin: bottom;
    bottom: auto!important;
    top: auto!important
}

#app tr:not(.datepicker-modal tr) {
    cursor: pointer
}

#app tr:not(.datepicker-modal tr):first-child {
    border-radius: 5px
}

#app tr:not(:first-chsild,#app .datepicker-modal tr):hover {
    background: rgba(200,200,200,.2)
}

@media only screen and (max-width:600px) {
    .datepicker-modal {
        width: 100vw!important;
        max-width: 100vw!important;
        height: 500px!important;
        top: auto!important;
        left: auto!important;
        transform: none!important
    }

    #app {
        padding-bottom: 20px
    }
}

@media only screen and (min-width:992px) {
    #app .container {
        width: 80%!important
    }
}

::-webkit-scrollbar {
    display: none
}

*,body,html {
    overscroll-behavior-x: none
}

.toast {
    font-size: 15px!important
}

._darkTheme .divider {
    background: rgba(255,255,255,.1)!important
}

#item_sidenav {
    opacity: 0;
    overflow: hidden
}

.btn-round {
    border-radius: 999px;
    height: auto!important;
    line-height: 40px;
    text-transform: none!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
    box-shadow: none!important
}

.chipSuggestions {
    overflow-x: scroll;
    white-space: nowrap
}

.chip_icon,.chip_icon * {
    line-height: 30px!important
}

.chip {
    height: auto!important
}

.chip_icon * {
    margin: 0;
    padding: 0
}

.chip_icon i {
    font-size: 20px
}

tr:first-child td {
    font-weight: 700
}

#item_sidenav .collection,.dropdown-content {
    border-radius: 10px
}

@media only screen and (max-width:992px) {
    #item_sidenav {
        padding-bottom: 50vh;
        padding-top: 0;
        width: 100%!important
    }

    #item_sidenav .collection {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
        border-radius: 0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        overflow-y: scroll;
        height: auto;
        max-height: 50vh;
        background: #fff
    }
}

body,html {
    overflow-x: hidden
}

.btn-outline {
    line-height: 40px!important;
    border-radius: 5px;
    height: auto!important;
    text-transform: none;
    text-align: left;
    border: 1px solid rgba(200,200,200,.3)!important;
    padding: 0 9px!important
}

.btn-outline i {
    color: var(--font-color)!important
}

#noteView {
    width: 100%!important;
    max-height: 100vh!important;
    height: 100vh!important
}

#addNote,#bmmodal,#noteView {
    padding-top: 50px
}

.input-field {
    max-width: 100%;
    overflow: visible!important
}

.input-border input {
    display: block
}

.input-border input:not(.datepicker-modal input),.input-border textarea:not(.datepicker-modal textarea) {
    border: 1px solid#aaa!important;
    border-radius: 3px!important;
    padding-left: 10px!important;
    width: 100%;
    max-width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

._darkTheme .input-border:not(.datepicker-modal .input-border) label {
    background: var(--bg-color)!important
}

.input-border input:not(.datepicker-modal input,.input-border input:focus):hover,.input-border textarea:not(.datepicker-modal textarea):hover {
    border: 1px solid#303030!important
}

.input-border:not(.datepicker-modal .input-border) label,.input-border:not(.datepicker-modal .input-border) textarea {
    margin-left: 10px!important;
    background: #fff;
    transition: all .2s!important;
    padding: 0 4px;
    display: inline-block
}

.input-border:not(.datepicker-modal .input-border) input:focus,.input-border:not(.datepicker-modal .input-border) textarea:focus {
    border-color: var(--navbar-color)!important;
    box-shadow: 0 0 0 1px var(--navbar-color) inset!important
}

._darkTheme .input-border:not(.datepicker-modal .input-border) input:not(.datepicker-modal input):focus,._darkTheme .input-border:not(.datepicker-modal .input-border) textarea:not(.datepicker-modal .textarea):focus {
    border-color: var(--font-color)!important;
    box-shadow: 0 0 0 1px var(--font-color) inset!important
}

.datepicker-modal .dropdown-content {
    z-index: 999999999999999999999999999999999999999!important
}

.input-border:not(.datepicker-modal .input-border) .input-field input:focus+label.active,.input-border:not(.datepicker-modal .input-border) .input-field textarea:focus+label.active,input:focus:not(._darkTheme input)+label,input:not(._darkTheme input):focus+label {
    color: var(--navbar-color)!important
}

.input-border:not(.datepicker-modal .input-border) label.active {
    margin-left: 7px!important;
    margin-top: 8px!important
}

#bmmodal {
    height: 300px!important
}

.datepicker-modal .btn {
    border-radius: 99999px!important
}

.select-dropdown,.select-dropdown * {
    color: var(--font-color)!important
}

@media only screen and (max-width:600px) {
    #addItem,#addNote,#bmmodal {
        width: 100%!important;
        max-height: 100vh!important;
        height: 100vh!important;
        padding-top: 65px
    }
}

#noteView {
    animation: none!important;
    transform: none
}

.material-tooltip {
    font-size: 11px;
    line-height: unset!important;
    height: auto!important;
    padding: 2px 5px!important;
    min-height: unset!important
}

._darkTheme .material-tooltip {
    background: rgba(255,255,255,.8)!important;
    color: #000!important
}

.material-icons,.material-icons-round {
    font-family: "Material Icons Outlined"!important
}

input::-webkit-inner-spin-button,input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield
}

.dropdown-content {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.3)
}

.dropdown-content:not(._darkTheme .dropdown-content) {
    background-color: var(--nav-scroll-color)!important
}

.chip {
    border-radius: 8px!important
}

#star i:not(.star-active,._darkTheme .star-active) {
    color: #000!important
}

._darkTheme #star i:not(.star-active,._darkTheme .star-active) {
    color: #fff!important
}

#item_sidenav .nav_scaleIconOnHover {
    background: 0 0!important
}

#star i {
    transition: all .2s
}

.star-active {
    color: #f57c00!important
}

.modal.bottom-sheet {
    height: auto!important;
    margin: auto!important
}

#item_sidenav,div.input-field label {
    pointer-events: none
}

.chip-border,.chip_icon {
    border: 1px solid rgba(200,200,200,.3);
    background: 0 0!important
}

._darkTheme .black-text {
    color: #fff!important
}

.modal:not(.bottom-sheet,#searchResults,#bmmodal,.datepicker-modal) {
    border-radius: 28px
}

@media only screen and (min-width:992px) {
    #bmmodal {
        border-radius: 28px!important
    }
}

.fabBTN {
    border-radius: 15px!important;
    background: var(--sidenav-bg-color-m3)!important
}

.fabBTN,.fabBTN i {
    color: #000!important
}

._darkTheme .loader #spinner {
    stroke: #fff!important
}

.card:not(.card-panel,.card-addItem) {
    border-radius: 20px!important;
    border: 1px solid rgba(200,200,200,.5)!important
}

._darkTheme .datepicker-modal input,.card-panel {
    border: 0!important
}

.card:not(.selected) {
    box-shadow: none!important
}

#fab,.btn-floating.green {
    border-radius: 15px!important
}

.nav__link.btn-floating {
    margin-right: 5px!important;
    margin-left: 5px!important
}

.star-active {
    animation: starScale .4s forwards
}

._darkTheme .dropdown-content {
    color: #fff!important;
    background: #404040!important
}

._darkTheme .dropdown-content a:hover {
    color: #fff!important;
    background: #505050!important
}

.links a {
    margin-left: 0!important;
    border-radius: 0 999px 999px 0!important;
    width: calc(100% - 2px)!important
}

.links,.links a {
    margin-bottom: 0!important
}

@media only screen and (min-width:992px) {
    #item_sidenav {
        border-top-left-radius: 10px!important;
        border-bottom-left-radius: 10px!important
    }

    .brand-logo.center {
        display: none!important
    }
}

@media only screen and (max-width:992px) {
    nav ul li>a {
        line-height: 65px!important
    }
}

.nav__link i {
    line-height: 65px!important
}

@media only screen and (max-width:600px) {
    .nav__link i,nav ul li>a {
        line-height: 55px!important
    }
}

#fab {
    transition: all .2s!important
}

#fab:active {
    transform: scale(.98)
}

.nav_scaleIconOnHover i {
    transition: all .2s
}

.nav_scaleIconOnHover:active i {
    transform: scale(.85)
}

#searchResults {
    border-top-left-radius: 10px!important;
    border-bottom-left-radius: 10px!important
}

@media only screen and (max-width:992px) {
    :root {
        --sidenav-bg-color-m3: #f0ffff
    }

    .modal#searchResults {
        border-radius: 0!important
    }

    #item_sidenav {
        overflow: hidden!important
    }

    .sidenav {
        box-shadow: none!important
    }

    .sidenav:not(.right-aligned) {
        border-top-right-radius: 15px!important;
        border-bottom-right-radius: 15px!important
    }

    .sidenav.right-aligned {
        border-top-left-radius: 10px!important;
        border-bottom-left-radius: 10px!important
    }

    .waves-ripple {
        transition-duration: .8s!important
    }
}

.border-icon {
    padding: 10px;
    border: 1px solid rgba(200,200,200,.9)
}

.transparent.card {
    background: 0 0!important;
    border: 0!important
}

._darkTheme {
    --sidenav-bg-color-m3: #404040!important
}

._darkTheme .tabs,._darkTheme textarea {
    background: 0 0!important;
    color: #fff!important
}

:not(i) {
    font-family: "Outfit",sans-serif
}

#app table,.btn,button,i {
    user-select: none
}

#slide-out:not(._darkTheme #slide-out) {
    background: #fff!important
}

#fab:not(._darkTheme #fab) {
    background: var(--nav-scroll-color)!important
}

._darkTheme #fab {
    background: var(--sidenav-bg-color-m3)!important;
    box-shadow: none!important;
    background: var(--fabDarkMode)!important
}

._darkTheme .ck-button__icon,.ck-button__label {
    color: #fff!important;
    stroke: #fff!important
}

._darkTheme .ck-button__icon * {
    fill: #fff!important
}

@media only screen and (max-width:992px) {
    #fab,#slide-out {
        background: var(--sidenav-bg-color-m3)!important
    }

    #slide-out:not(._darkTheme #slide-out) {
        background: #ebf1f5!important
    }

    :root {
        --sidenav-bg-color-m3: #ebf1f5
    }
}

#addItem:not(._darkTheme #addItem) {
    background: var(--nav-scroll-color)!important
}

.drag-target {
    z-index: 9999999999999999999999999!important
}

#app {
    overflow: hidden
}

.chip {
    transition: background .2s,box-shadow .2s,color .2s
}

.chip:focus {
    background: var(--navbar-color)!important;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)
}

.chip:focus .waves-ripple {
    background: rgba(255,255,255,.2)!important
}

._darkTheme .btn-round {
    background: rgba(255,255,255,.1)!important
}

@media only screen and (min-width:992px) {
    .navbar_btn i {
        line-height: 55px!important
    }
}

.navbar_btn {
    margin: 0!important
}

._darkTheme .waves-ripple:not(.waves-light .waves-ripple) {
    background: rgba(200,200,200,.2)!important
}

._darkTheme .border-two-tone {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(5000%) contrast(0%)!important;
    color: #fff!important
}

@media only screen and (max-width:600px) {
    #feedbackBeta {
        height: 100vh!important;
        width: 100%!important;
        border-radius: 0!important
    }
}

nav {
    box-shadow: none!important
}

#fab {
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)
}

._darkTheme .datepicker-modal * {
    color: #fff!important
}

#addItem {
    width: 90%;
    min-height: auto!important;
    max-height: auto!important;
    margin: auto!important;
    padding-top: 0!important;
    border-top-left-radius: 14px!important;
    border-top-right-radius: 14px!important
}

._darkTheme #fab :not(span) {
    opacity: .9!important
}

.btn-boxy {
    border-radius: 15px!important
}

.btn-border {
    border: 1px solid rgba(200,200,200,.9)
}

.btn-border:focus {
    border-color: #c8c8c8
}

@media only screen and (min-width:992px) {
    #__navBar,#edit_sidenav nav,#item_sidenav nav {
        padding-top: 7px!important;
        padding-bottom: 7px!important;
        height: auto!important
    }

    #_feedback {
        width: 50vw!important
    }

    #slide-out {
        z-index: 1!important;
        padding-top: 95px!important
    }
}

.indicator {
    position: relative;
    left: 10px;
    margin-top: 20px;
    width: 10px;
    height: 10px
}

@media only screen and (max-width:992px) {
    #__navBar,#edit_sidenav nav,#item_sidenav nav {
        padding-top: 5px!important;
        padding-bottom: 5px!important;
        height: auto!important
    }

    .sm\:fixed-bottom {
        position: fixed;
        bottom: 0;
        left: 0
    }
}

.card .hoverP {
    transform: scale(1);
    opacity: 0;
    visibility: hidden;
    transition: all .1s;
    margin-top: 19px!important
}

.card:hover .hoverP {
    transform: scale(.95);
    opacity: .7;
    visibility: visible
}

.chip-border:hover {
    border-color: rgba(200,200,200,.9)!important
}

#app tr:focus-visible {
    border-bottom-color: transparent!important;
    border-radius: 1px!important
}

#slide-out a:focus-visible,.focus-outline:focus-visible {
    box-shadow: 0 0 0 5px#1e88e5 inset!important
}

#accountDropdown a:focus-visible,#accountDropdown:focus-visible,#app .btn-floating.btn-flat:focus-visible,#app tr:focus-visible,#app:focus-visible,#fab:focus-visible,.card-panel:focus-visible,.dropdown-content a:focus-visible,.focus-outline-1:focus-visible,nav a:focus-visible {
    box-shadow: 0 0 0 5px#1e88e5!important
}

#slide-out {
    padding-bottom: 5px
}

.divider {
    width: 90%!important;
    margin-left: 5%!important
}

#__navBar:not(.blue-grey) {
    background: var(--bg-color)!important
}

#__navBar {
    border-bottom: 1px solid rgba(200,200,200,0)!important
}

.chromeOs #__navBar {
    transition: background .35s,border-color .35s !important;
}

.blue-grey#__navBar {
    border-color: var(--nav-scroll-color)!important;
    background: var(--nav-scroll-color)!important
}

#__navBar a {
    color: #404040!important
}

._darkTheme .blue-grey#__navBar {
    background: #404040!important;
    border-color: #404040!important
}

._darkTheme .brand-logo,._darkTheme nav a.brand-logo.white-text {
    color: #fff!important
}

.chip {
    box-shadow: none!important
}

#accountDropdown {
    border: 1px solid rgba(200,200,200,.8);
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 var(--font-color)),var(--tw-ring-shadow, 0 0 var(--font-color)),var(--tw-shadow);
    padding: 10px;
    border-radius: 28px;
    position: fixed;
    top: 70px;
    right: 20px;
    width: 400px;
    z-index: 99999999999999999999;
    background: #fff;
    animation: accountDropdown .15s forwards cubic-bezier(.4,0,.2,1);
    transform-origin: top right
}

.fadeOut#accountDropdown {
    animation: accountDropdownHide .15s forwards cubic-bezier(.4,0,.2,1)
}

._darkTheme #accountDropdown {
    color: #fff;
    background: #505050
}

._darkTheme #bmmodal .btn.blue-grey {
    background: #404040!important
}

.no-margin {
    margin: 0!important
}

.w-full {
    width: 100%!important
}

.h-auto {
    height: auto
}

.line-height\:40 {
    line-height: 40px!important
}

.border-radius\:10 {
    border-radius: 10px
}

.color\:default {
    color: var(--font-color)!important
}

.position\:fixed {
    position: fixed
}

.border-full {
    border-radius: 9999px!important
}

.min-height\:300px {
    min-height: 300px
}

.object-fit\:cover {
    object-fit: cover
}

.card-addItem {
    overflow: visible!important;
    border-radius: 28px;
    border: 0!important;
    color: var(--font-color)!important;
    border-color: transparent!important
}

.pointer-events\:none {
    pointer-events: none
}

.overflow\:hidden {
    overflow: hidden
}

.overflow\:visible {
    overflow: visible!important
}

.z\:999999999999999 {
    z-index: 999999999999999
}

#_feedback,#addItem {
    max-height: 100vh!important;
    height: auto!important
}

.rclick_link {
    padding: 15px 20px;
    width: 100%;
    margin: 0
}

#searchBar {
    animation: searchBar .2s forwards;
    transform-origin: top;
    overflow: visible!important
}

#searchBar,#searchBar * {
    border-radius: 0!important
}

#searchBar i,#searchBar label {
    line-height: 70px!important
}

@media only screen and (min-width:600px) {
    #searchBar {
        height: 74px!important
    }

    #searchBar i,#searchBar label {
        line-height: 80px!important
    }
}

@media only screen and (max-width:992px) {
    #searchBar {
        height: 70px!important
    }

    #searchBar i,#searchBar label {
        line-height: 60px!important
    }
}

#searchBarContent::after {
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.3);
    content: "";
    display: block;
    height: 100%
}

#slide-out * {
    /* white-space: nowrap; */
    transition: width .2s,max-width .2s,height .2s,max-height .2s,border-radius .2s,background .2s,opacity .2s
}

#slide-out .rail-label {
    transition: opacity .2s
}

@media only screen and (min-width:992px) {
    #slide-out {
        max-width: 300px
    }

    .material-sidenav\:rail #slide-out span {
        opacity: 1;
        width: 75px;
        display: block !important;
        white-space: nowrap!important;
        overflow: hidden!important;
        position: relative;
        left: -15px;
        top: -20px;
        text-overflow: ellipsis;
    } 
    .capitalizeFirstLetter {
        display: inline-block!important;
    }
    .capitalizeFirstLetter:first-letter {
        text-transform: uppercase;
    }
    .material-sidenav\:rail em {
        display: none;
    }
    

    .material-sidenav\:rail #slide-out {
        max-width: 104px!important;
        overflow-x: hidden;
        text-align: center;
        /* padding-left: 10px!important */
    }

    #slide-out,.cards,body {
        transition: all .2s
    }

    .hide-on-rail,.subheader {
        overflow: hidden
    }

    .subheader {
        max-height: 100px;
        transition: all .2s
    }

    .material-sidenav\:rail #slide-out .subheader {
        max-height: 0;
        opacity: 0
    }

    .material-sidenav\:rail #slide-out a {
        border-radius: 0 !important;
        width: 100% !important;
        text-align: center !important;
        /* overflow: visible !important; */
        padding-bottom: 0 !important;
        height: 60px!important;
        line-height: 50px!important;
        margin-bottom: 10px !important;
    }

    .material-sidenav\:rail #slide-out i {
        line-height: 28px!important;
        margin-bottom: 15px;
        margin-left: 10px !important;
        pointer-events: none !important;
    }
    .material-sidenav\:rail .sidenav-active {
      background-color: transparent !important;
    }
    .material-sidenav\:rail i {
      pointer-events: none !important;
    }
    .material-sidenav\:rail .sidenav-active i {
      display: block;
    }
    .material-sidenav\:rail .sidenav-active i::before {
      content: "";
      display: block;
      width: 50px;
      position: absolute;
      border-radius: 999px;
      margin-top: 0px;
      height: 30px;
      animation: searchBar .2s forwards;
      transform: scale(.9);
      animation-delay: .2s;
      opacity: 0;
      margin-left: -13px;
      z-index:-1;
      background-color: var(--nav-scroll-color) !important;
    }
    ._darkTheme .material-sidenav\:rail .sidenav-active i::before,._darkSidenav .material-sidenav\:rail .sidenav-active i::before {background: #404040!important}

    .material-sidenav\:rail #slide-out li {
        line-height: 55px!important;
        height: auto!important
    }

    .hide-on-rail {
        max-height: 200px;
        transition: max-height .2s,opacity .2s!important
    }

    .material-sidenav\:rail #slide-out .hide-on-rail {
        max-height: 0
    }

    .material-sidenav\:rail {
        padding-left: 104px!important
    }

    .material-sidenav\:rail .divider {
        margin-top: 3px;
        margin-bottom: 3px
    }
}

._darkTheme .sidenav-active * {
    color: #fff!important
}

._darkTheme .sidenav-active a {
    background: rgba(255,255,255,.2)!important
}
.sidenav span,.sidenav i {pointer-events:none}
.material-sidenav\:rail #slide-out i {
    pointer-events: none !important;
}
    em {font-style: normal !important;}
