/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
webview {
    width: 100vw;
    height: 100vh;
}

#find-box {
    top: 0;
    right: 70px;
    width: 250px;
    display: none;
    position: absolute;
    background: #f1f1f1;
    border: 1px solid #eee;
    border-radius: 0 0 3px 3px;
}

#find-text {
    width: 92%;
    margin: 4px;
    padding: 5px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
}
input {
 outline:0;   
}
#dialog-box {
    top: 50%;
    width: 50vw;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    position: absolute;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.57);
    outline: 9999px solid rgba(0,0,0,0.5);
    animation: dialog .2s forwards;
    border-radius: 5px;
}
@keyframes dialog {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(.8);
    }
}
#dialog-box-text {
    padding: 20px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    font-family: 'Poppins', sans-serif;
}
#dialog-box-input {
    padding: 5px;
    display: none;
    margin: 0 20px 20px 20px;
    width: calc(100% - 45px);
}

.dialog-box-button {
    bottom: 0;
    float: right;
    position: relative;
    margin: 0 11px 20px 0;
    box-sizing: border-box;
    border: solid 1px;
    border-color: rgba(var(--mdp-onsurface-rgb, 0, 0, 0), 0.24);
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;

    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(var(--mdp-primary-rgb, 33, 150, 243));
    background-color: transparent;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 34px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
}