body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #F6F7F8;
}

h1,
h2,
h3 {
  margin-top: 0px;
}

.tagline {
  width: 100%;
  height: 71px;
  background: #FFFFFF;
  border: 3px solid #000000;
  box-sizing: border-box;

  font-style: normal;
  font-weight: bold;
  line-height: 68px;
  font-size: 26px;
  text-align: center;

  color: #D60000;
}



.logo h1 {
  font-style: normal;
  line-height: 110px;
  font-size: 64px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.result h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 800;
  color: #000;
}

.capture {
  z-index: 1000;
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
  font-size: 28px;
  color: white;
}

.record {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: rgb(233, 79, 79);
  margin-bottom: 20px;
}

.input {
  position: absolute;
  opacity: 0;
  bottom: 0px;
  left: 0px;
  height: 250px;
  width: 100%;
}

.image {
  display: block;
  width: auto;
  height: 50vh;
  margin: 20px auto;
}

@media only screen and (max-width: 600px) {

  .logo h1 {
    line-height: 70px;
    font-size: 48px;
  }

  .image {
    display: block;
    height: auto;
    width: 100%;
    margin: 20px auto;
  }
}
