RewriteEngine On
RewriteCond %{THE_REQUEST} ^.*/index\.php 
RewriteRule ^(.*)index.php$ /$1 [R=301,L]


# RewriteEngine On
# RewriteBase /dashboard/
# RewriteCond %{REMOTE_ADDR} !^68\.225\.245\.178
# RewriteRule ^(.*)$ https://maintenance.smartlist.ga [R=307,L]


# 403 error for some stuff -------------------------------------------------
RewriteRule ^/?developer/clear-ratelimit\.php$ - [F,L]

# SECURITY ------------------------------------------------------------------
Header add Access-Control-Allow-Origin "*"
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
Header always set Content-Security-Policy "upgrade-insecure-requests"
Header add Access-Control-Allow-Methods: "GET,POST"

# Header set X-Frame-Options DENY
Header always edit Set-Cookie (.*) "$1; SameSite=None; Secure"

ServerSignature Off
Header set Strict-Transport-Security "max-age=31536000" env=HTTPS
<FilesMatch "^php5?\.(ini|cgi)$">
Order Deny,Allow
Deny from All
Allow from env=REDIRECT_STATUS
</FilesMatch>
# HTTPS and WWW REDIRECT ---------------------------------------------------

RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# url rewrites --------------------------------------------------------------

RewriteRule ^login(.*)$ dashboard/login.php?id=$1 [L]
RewriteRule ^impact(.*)$ impact.php?id=$1 [L]
RewriteRule ^security(.*)$ security.php?id=$1 [L]
RewriteRule ^dashboard/auth(.*)$ dashboard/login.php?id=$1 [L]
RewriteRule ^signup(.*)$ dashboard/register.php?id=$1 [L]
RewriteRule ^s/(.*)$ share/index.php?id=$1 [L]
RewriteRule ^dashboard/beta(.*)$ dashboard/index.php?id=$1 [L]

# ERROR REDIRECTS------------------------------------------------------------
ErrorDocument 404 https://smartlist.ga/errors/404
ErrorDocument 403 https://smartlist.ga/errors/403

# SPEED----------------------------------------------------------------------
AddType application/x-httpd-php .htm .html
Header set Connection keep-alive
order deny,allow
AddType text/cache-manifest .manifest

<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
    Header set Cache-Control "max-age=31536000, public"
</filesMatch>

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/shtml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/php
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
</IfModule> 

<IfModule mod_headers.c>
    <FilesMatch ".(js|css|xml|gz|html)$">
        Header append Vary: Accept-Encoding
    </FilesMatch>
</IfModule>

<IfModule mod_expires.c>
    ## Enable expiration control
    ExpiresActive On
    ExpiresByType text/css "now plus 1 week"
    ExpiresByType application/javascript "now plus 1 week"
    ExpiresByType application/x-javascript "now plus 1 week"
    ExpiresByType image/bmp "now plus 1 month"
    ExpiresByType image/gif "now plus 1 month"
    ExpiresByType image/jpeg "now plus 1 month"
    ExpiresByType image/jp2 "now plus 1 month"
    ExpiresByType image/pipeg "now plus 1 month"
    ExpiresByType image/png "now plus 1 month"
    ExpiresByType image/svg+xml "now plus 1 month"
    ExpiresByType image/tiff "now plus 1 month"
    ExpiresByType image/x-icon "now plus 1 month"
    ExpiresByType image/ico "now plus 1 month"
    ExpiresByType image/icon "now plus 1 month"
    ExpiresByType text/ico "now plus 1 month"
    ExpiresByType application/ico "now plus 1 month"
    ExpiresByType image/vnd.wap.wbmp "now plus 1 month"
    ExpiresByType application/x-font-ttf "now plus 1 week"
    ExpiresByType application/x-font-opentype "now plus 1 week"
    ExpiresByType application/x-font-woff "now plus 1 week"
    ExpiresByType font/woff2 "now plus 1 week"
    ExpiresByType image/svg+xml "now plus 1 week"
    ExpiresByType audio/ogg "now plus 1 month"
    ExpiresByType application/ogg "now plus 1 month"
    ExpiresByType audio/basic "now plus 1 month"
    ExpiresByType audio/mid "now plus 1 month"
    ExpiresByType audio/midi "now plus 1 month"
    ExpiresByType audio/mpeg "now plus 1 month"
    ExpiresByType audio/mp3 "now plus 1 month"
    ExpiresByType audio/x-aiff "now plus 1 month"
    ExpiresByType audio/x-mpegurl "now plus 1 month"
    ExpiresByType audio/x-pn-realaudio "now plus 1 month"
    ExpiresByType audio/x-wav "now plus 1 month"
    ExpiresByType application/x-shockwave-flash "now plus 1 month"
    ExpiresByType x-world/x-vrml "now plus 1 month"
    ExpiresByType video/x-msvideo "now plus 1 month"
    ExpiresByType video/mpeg "now plus 1 month"
    ExpiresByType video/mp4 "now plus 1 month"
    ExpiresByType video/quicktime "now plus 1 month"
    ExpiresByType video/x-la-asf "now plus 1 month"
    ExpiresByType video/x-ms-asf "now plus 1 month"
</IfModule>